/.FaugDescriptionLabelProvider.java._trace
/.FaugDescriptionLabelProvider.xtendbin
/.FaugLabelProvider.java._trace
/.FaugLabelProvider.xtendbin
/FaugDescriptionLabelProvider.java
/FaugLabelProvider.java
